
  <!-- Unity Container section for Registeration-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IDataLayer" type="BusinessWrapper.IDataLayer, BusinessWrapper" />
      </typeAliases>
    <container name="DataLayer">
      <register type="IDataLayer" mapTo="BusinessWrapper.DataLayerWrapper, BusinessWrapper" />
     
    </container>
  </unity>
